*{
    margin: 0%;
    padding: 0%;
}
.loader {
   position: fixed;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   z-index: 9998;
   background: url('img/casiopea.jpg') 50% 50% no-repeat white;
   background-size: 55%;
}
/* Navegador flex */
.nav_flex{
   display: flex;
   flex-wrap: wrap;
   background: #c09f80;
   padding: 0.2%;
   opacity: 0.9;
   justify-content: center;
}

.nav_flex a{
   padding: 0.2em 0.5em 0.2em 0.5em;
   color: black;
   font-size: 18px;
   
   border: 0px solid #ccc;
   text-decoration: none;
   margin: 0.3em 0.7em 0.3em 0.7em;
}

.nav_flex a:hover{
   background-color: #333333;
   color: #c09f80;
}


#navegador ul{
   padding-left:10%;
    list-style-type: none;
    text-align: left;
 }
 #navegador li{
    display: inline;
    text-align: center;
    margin: 0 0p 0 0;

 }
 #navegador li a {
    padding: 0.05% 0.05% 0.05% 0.05%;
    color: #669;
    background-color: #eeeeee;
    border: 0px solid #ccc;
    text-decoration: none;
 }
 #navegador li a:hover{
    background-color: #333333;
    color: #c09f80;
 }
 #navegador{
    background: #c09f80;
     padding: 0.2%;
 }

header{
   width: 100%;
   overflow: hidden;
   margin-bottom: 0;
 background-color: #d7cec7;
 
  
  
   
}
.te{
   
   text-align: center;
   font-size: 30%;
  font-weight: bold;
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   color: white;
}
#texto{
   color: white;
}
.wrapper{
   padding:150px 150px  150px 150px;
   width: 90%;
   max-width: 1000px;
   margin: auto;
   overflow: hidden;
}
.contenedor{
   width: 90%;
   margin: auto;
   background: #c09f80;
   opacity: 0.9;
   padding: 1%;
   padding-bottom: 1%;
   box-sizing: border-box;
   margin-top: 2em;
   border-radius: 2%;
 }
 .banner{
    width:  100%;
    background: #393939;
    color: white;
 }
 footer{
    width: 100%;
    height: 1.1em;
    position: fixed;
    bottom: 0;
 }
 body{
    background-image: url("../img/cristal.jpg");
 }
 .boton a{
  
     
   
   padding: 1px 1px 1px 1px;
    color: #666;
    background-color: #eeeeee;
    border: 0px solid #ccc;
    text-decoration: none;
 }
 .contenedor li{
   display: block;
   text-align: left;
   margin-top: 10px;

 }
 a{
    text-decoration: none;
    color: black;

}




.alta{
   width: 28%;
   opacity: 0.9;
   margin: auto;
   background: #c09f80;
   padding: 10px 20px;
   padding-bottom: 3em;
   box-sizing: border-box;
   margin-top: 20px;
   margin-bottom: 40px;
   border-radius: 7px;
   
   
}
.alta input{
   
   width: 280px;
   height: 20px;
   padding: 0px 10px;
   
 
   margin: 10px 30px;
}
.textoin{
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   
}
.alta input[type=submit] {
   width: 90px;
   height: 25px;
   padding:5px 10px; 
   border:0 none;
   cursor:pointer;
  
}  
.alta input[type=button] {
   width: 90px;
   height: 25px;
   padding:5px 15px; 
   border:0 none;
   cursor:pointer;
  
}
.alta input[type=submit]:hover {
    background-color: #333333;
    color: #c09f80;
 }
.alta input[type=button]:hover {
    background-color: #333333;
    color: #c09f80;
 }
 .boton{
    margin-top: 30px;
    padding: 0;
   
 }
 .boton  :hover{
   background-color: #333333;
   color: #c09f80;
 }

.editar_fila{
   width: 20px;
   height: 12px;
	border:0px;
	margin:3px;
   padding:0px;
   float: right;
		

}

.caja{
   
   background-image: linear-gradient( #d7cec7 , #c09f80);
   font-weight:lighter;
}
.caja2{
   margin-top: 0.5em;
   background-image: linear-gradient( #d7cec7 , #c09f80);
   font-weight:lighter;
   width: 10%;
}
.caja3{
   margin-bottom: 0.5em;
   background-image: linear-gradient( #d7cec7 , #c09f80);
   font-weight:lighter;
   width: 25%;
}
.caja2 a:active{
   background-color: white;
   border: 1px solid black;
  
   color: white;
}
.caja2 a:not(:active) {
   background-color: white;

}
.caja2 a:first-child{
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
}
.caja2 a:last-child{
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}
.caja a:hover{
   background-image: linear-gradient( #d7cec7 ,#c09f80, #333333);
   
   color: black;

}
.espacio{
   margin-top:10px;
}

.enlaces{
   width: 97%;
   margin: 1em
}

header{
   background-color: #393939;
   border-bottom: black 2px solid;
              }
img{
             float:left;
               margin-top:10px;
               margin-bottom:10px;
               margin-left:10px;
               border-radius:10px;
               
           width:150px;
           height:100px;
           }
           #texto{
               padding-top:85px;
               padding-left: 80px;
               float:left;
               font-size: 20px;
           }
           #texto2{
             padding-top:85px;
             padding-right:20px;
               float:right;
               font-size:15px;
             }
table,td,tr,th{
             border: 1px solid black;
             border-collapse: collapse;
             font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
         
            }
             table{
               width:100%;
               
               
               
           }
         th{
            color: white;
            background-color: #565656;
            opacity:0.6;
           }
         th,tr, td {
                padding: 15px;
                text-align: left;
         }
.separador{
     
      width: 100%;
      border-bottom: 3px solid black;
      margin: 0 auto;
      height: 16px;
  
}            



/* Caja de errores */

.error{
   width: 90%;
   margin: auto;
   text-align: center;
   border: 2px solid red;
   color: #D8000C;
   background-color: #FFD2D2;
}

.mensaje{
   width: 28%;
   margin: auto;
   text-align: center;
   border: 2px solid green;
   color: #4F8A10;
   background-color: #DFF2BF;
}

.verde{
   background-color: green;
}

.amarillo{
   background-color: yellow;
}

.rojo{
   background-color: red;
}